{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="container">
    <div class="map-canvas" id="map-canvas"></div>
    <div class="map-banner" id="map-banner"></div>
    <div class="form-group">
      <div class="form-bar"><input placeholder="City name &hellip;"  id="location-input" type="text"/></div>
      <div class="form-bar"><input id="search-button" type="button" value="Search" /></div>
      <div class="form-bar"><input name="history" id="history-button" type="button" value="History" /></div>
      <div class="clear"></div>
    </div>
    <div class="history" id="history">
      <ul class="history-list" id="history-list">
        <li class="history-item first" id="back-button">&lt; Back to the tweets</li>
      </ul>
    </div>
    <div class="overlay" id="feedback-overlay">
      <div class="feedback" id="feedback">
        <h3 id="feedback-type" class="feedback-type">ERROR</h3>
        <div class="feedback-message">
          <p id="feedback-message">Geocode failed for the location Kathmandu</p>
        </div>
        <div class="feedback-close">
          <button class="feedback-close-btn" id="feedback-close-btn">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ app.request.basepath }}/js/script.js"></script>
  <script>
  // IIFE! this boots the app.
  (function() {
    // Run the APP application on DOM ready
    jQuery(function() {
      var app = new APP(Core.env === 'dev');
      app.run();
    });
  })();
  </script>
{% endblock %}
