{% extends "layout.html" %}
{% block title %}Test{% endblock %}
{% block styles %}
<link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.20.0.css">
{% endblock %}
{% block content %}
  <div class="container" style="height: 60%;">
    <div class="map-canvas" id="map-canvas">
      <p style="align:center;text-align:center;font-size:24px;margin:20px;">Running tests &hellip;</p>
    </div>
    <div class="map-banner" id="map-banner"></div>
    <div class="form-group">
      <div class="form-bar"><input placeholder="City name &hellip;" id="location-input" type="text" readonly="readonly" /></div>
      <div class="form-bar"><input id="search-button" type="button" value="Search" disabled="disabled" /></div>
      <div class="form-bar"><input name="history" id="history-button" type="button" value="History" disabled="disabled" /></div>
      <div class="clear"></div>
    </div>
    <div class="history" id="history">
      <ul class="history-list" id="history-list">
        <li class="history-item first" id="back-button">&lt; Back to the tweets</li>
      </ul>
    </div>
    <div class="overlay" id="feedback-overlay">
      <div class="feedback" id="feedback">
        <h3 id="feedback-type" class="feedback-type">ERROR</h3>
        <div class="feedback-message">
          <p id="feedback-message">Geocode failed for the location Kathmandu</p>
        </div>
        <div class="feedback-close">
          <button class="feedback-close-btn" id="feedback-close-btn">OK</button>
        </div>
      </div>
    </div>
  </div>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
{% endblock %}
{% block scripts %}
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//code.jquery.com/qunit/qunit-1.20.0.js"></script>
  <script src="{{ app.request.basepath }}/js/jquery.mockjax.js"></script>
  <script src="{{ app.request.basepath }}/js/script.js"></script>
  <script src="{{ app.request.basepath }}/js/mock.js"></script>
  <script src="{{ app.request.basepath }}/js/test.js"></script>
{% endblock %}
