<!DOCTYPE html>
<html>
<head>
  <title>Settings - Map Based Tweet Search App</title>
</head>
<body>
<div class="container">
  <form method="post">
    <p>
      <label>Search Radius (KM)</label>
      <input type="number" required="required" name="twitter[search_radius_km]" value="{{ radius }}" />
    </p>
    <p>
    <label>Cache Time to Live (minutes)</label>
    <input type="number" required="required" name="twitter[cache_ttl_min]" value="{{ cachettl }}" />
    </p>
    <p><input type="submit" value="Submit" name="submit" ></p>
  </form>
</div>
</body>
</html>
