/**
 * This file is a part of MBTS (map based tweet search) app
 *
 * @author Jitendra Adhikari <jiten.adhikary@gmail.com>
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html, body {
	height: 100%;
	width: 100%;
}
.container {
	width: 99.5%;
	height: 100%;
	margin: 0 auto;
	padding-top: 0.25%;
}
.map-canvas {
	height: 400px;
	height: 80%;
	width: 100%;
	max-width: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
}
.map-canvas .gmnoprint img {
	max-width: none;
	width: inherit;
}
.map-banner {
	text-align: center;
	width: 99.5%;
	margin: 0 auto;
	color: #4BCFEC;
	font-size: 24px;
	font-weight: bold;
	font-family: sans-serif, monospace;
	display: none;
	position: absolute;
	text-transform: uppercase;
	top: 25px;
	z-index: 100;
}
.history, .overlay {
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0px;
	bottom: 0px;
	display: none;
	width: 99.5%;
	z-index: 1000;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10000;
}
.history-list, .feedback {
	background-color: white;
	border: 1px solid #ccc;
	background-color: white;
	overflow-y: scroll;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	max-height: 60%;
	width: 60%;
}
.feedback {
	font-family: Helvetica, Arial, sans-serif, monospace;
	padding: 17px;
	max-height: 240px;
	border-radius: 5px;
	text-align: center;
	z-index: 99999;
	overflow-y: auto;
}
.feedback h3 {
	color: #575757;
	font-size: 30px;
	text-align: center;
	font-weight: 600;
	text-transform: none;
	margin: 18px 0 0;
	line-height: 40px;
	display: block;
	border-bottom: 1px solid #e1e8ed;
	text-transform: uppercase;
}
.feedback-message {
	background-color: #f5f8fa;
	border-bottom: 1px solid #e1e8ed;
	display: block;
	padding: 20px;
}
.feedback-message p {
	line-height: 30px;
	font-size: 18px;
}
.feedback-close-btn {
	font-weight: bold;
	display: inline-block;
	box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset;
	background-color: rgb(140, 212, 245);
	border-radius: 5px;
	padding: 10px 32px;
	margin: 14px 5px 0 5px;
	cursor: pointer;
	color: #575757;
	border: none;
	outline: none;
}
.history li {
	cursor: pointer;
	text-transform: uppercase;
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding: 10px 20px;
	color: #333;
}
.form-group {
	margin-top: 1px;
}
.form-group [type='button'] {
	cursor: pointer;
	background: #4BCFEC;
	border: none;
	color: #fff;
	padding: 12px;
	border: none;
}
.form-bar {
	display: block;
	float: left;
	width: 20%;
	border-left: 1px solid #fff;
}
.form-bar:first-child {
	width: 60%;
	border: none;
}
.form-bar input {
	width: 100%;
	display: block;
	padding: 10px;
	outline: none;
}
.clear {
	clear: both;
}
@media (max-width: 480px) {
	.map-canvas {
		height: 65%;
	}
	.form-bar {
		display: block !important;
		width: 100% !important;
		margin-top: 10px;
	}
	.form-bar input {
		display: block;
	}
	.map-banner {
		font-size: 20px;
	}
	.feedback h3 {
		font-size: 24px;
	}
	.history-list, .feedback {
		width: 85%;
	}
	.feedback {
		padding: 10px;
	}
}

@media screen and (orientation: landscape) {
	.map-canvas {
		height: 85%;
	}
}

@media screen and (orientation: portrait) {
	.map-canvas {
		height: 65%;
	}
}
