<!DOCTYPE html>
<html>
  <head>
    <title>{% block title '' %} - Map Based Tweet Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="{{ path('core_js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
